.navbar .navbar-brand img {
    height: 20px;
}

.navbar .navbar-brand {
    padding-top: 0;
}

.navbar .nav-link {
    color: #444343!important;
}

.navbar .button-collapse {
    padding-top: 1px;
}

.card-intro .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

.card-intro .card-body h1 {
    margin-bottom: 0;
}

.card-intro {
    margin-top: 64px;
}

@media (max-width: 450px) {
    .card-intro {
        margin-top: 56px;
    }
}

@media (min-width: 1441px) {
    .card-intro {
        padding-left: 0 !important;
    }
}

.btn .fa {
    margin-left: 3px;
}

.btn-white {
    color: black !important;
}

.btn-rounded {
    border-radius: 50px;
}

h6 {
    line-height: 1.7;
}

.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.slend {
    height: 5px;
}